@import "./base/globals";
@import "./base/variables";
@import "./base/mixins";
h1 {
    color: $primary-color;
}

.container {
    max-width: 1400px;
}

// header
.header-main {
    position: absolute;
    background: transparent;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    width: 100%;
}

.header-top {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px;
    .ht-logo {
        img {
            height: 130px;
            width: 130px;
            object-fit: contain;
        }
    }
    form {
        position: relative;
    }
}

.search-bar {
    width: 80%;
    input[type="text"] {
        padding: 10px 20px;
        border-radius: 28px;
        width: 100%;
        border: none;
        background: white;
    }
    input::placeholder {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #59595967;
        text-transform: capitalize;
    }
}

.search-icon {
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 80%;
    }
}

.j-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.j-c-l {
    display: flex;
    align-items: center;
    justify-content: left;
}

.j-c-r {
    display: flex;
    align-items: center;
    justify-content: right;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    li {
        height: 30px;
        width: 30px;
        background: $primary-color;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        margin-right: 8px;
        font-size: 14px;
    }
    a {
        color: white;
    }
}

.hamburger-menu {
    i {
        color: white;
        font-size: 30px;
        margin-left: 32px;
    }
}

.hm-title {
    margin: 28px 0;
    h2 {
        font-size: 70px;
        color: white;
        font-weight: 800;
        text-transform: capitalize;
    }
    h6 {
        font-size: 50px;
        color: white;
        font-weight: 200;
        margin-top: -18px;
    }
}

.hm-note {
    h6 {
        margin: 30px 0;
        color: white;
        font-weight: 300;
    }
}

.search-filter {
    display: flex;
    align-items: center;
    margin-top: 80px;
    select {
        padding: 10px 80px;
        border-radius: 28px;
        border: none;
        background: white;
        margin-right: 12px;
    }
    form {
        position: relative;
    }
    .front-icon {
        img {
            position: absolute;
            top: 50%;
            left: 8%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }
    .back-icon {
        img {
            position: absolute;
            top: 50%;
            right: 8%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }
    select {
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
        color: #595959;
        font-weight: 500;
    }
}

.banner-content {
    margin-top: 130px;
}

.highligt-text {
    margin-top: 100px;
    margin-bottom: 30px;
    h6 {
        color: white;
        font-weight: 400;
    }
}

.activities-top {
    li {
        background: white;
        display: inline-block;
        border-radius: 12px;
        margin-right: 10px;
        padding: 10px 30px;
        text-align: center;
        img {
            height: 40px;
            width: 45px;
            object-fit: contain;
        }
    }
}

.act-title {
    margin: 8px 0;
    h6 {
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        color: #595959;
    }
}

.view-more-highlights {
    padding: 0;
    background: none !important;
    select {
        background: none;
        color: white;
        outline: none;
        border: none;
    }
}

.filter-search-btn {
    padding: 10px 50px;
    border-radius: 28px;
    border: none;
    color: white;
    text-transform: capitalize;
    background: $primary_color;
}

.pc-image {
    img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 190px;
        width: 100%;
        object-fit: cover;
    }
}

.pacakge-card {
    border-radius: 8px;
    color: white;
    min-height: 350px;
    max-height: 350px;
    width: 238px;
    max-width: 238px;
    margin-bottom: 12px;
    overflow: hidden;
    background: $secondary_color;
    a {
        color: white;
    }
}

.pc-content {
    padding: 12px;
}

.pcc-dur-loc {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    h6 {
        font-weight: 300;
        font-size: 12px;
        margin: 0;
    }
    img {
        height: 12px;
        margin-right: 4px;
    }
    .duration {
        margin-right: 64px;
    }
}

.pc-main-content {
    margin: 18px 0;
    h6 {
        font-weight: 300;
        font-size: 12px;
        margin: 0;
        color: #c4c4c4;
    }
    h4 {
        font-weight: 400;
        font-size: 14px;
        color: $primary_color;
        text-transform: capitalize;
    }
    h5 {
        font-size: 12px;
        text-transform: capitalize;
        a {
            color: #c4c4c4;
            font-weight: 200;
            font-size: 10px;
        }
        span {
            margin-left: 6px;
        }
    }
    h3 {
        margin-top: 12px;
        font-size: 18px;
        color: $primary_color;
    }
}

.main-destination {
    background: $secondary_color;
    .sec-title {
        h2 {
            color: white;
        }
        h6 {
            color: #888888;
        }
    }
}

.md-single {
    position: relative;
    margin: 0 8px !important;
    .mds-title {
        padding: 6px 0;
        background-image: linear-gradient(#f46c24, #00000031);
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        h5 {
            text-align: center;
            color: white;
            margin: 0;
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.mds-image {
    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 8px;
    }
}

.parallax {
    margin-top: 40px;
    height: 70vh;
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: #00000024;
        top: 0;
        left: 0;
    }
}

.parallax-title-text {
    color: white;
    position: absolute;
    left: 165px;
    top: 120px;
    h3 {
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    h2 {
        font-size: 74px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.play-button {
    display: inline-block;
    height: 160px;
    width: 160px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    a {
        margin-left: 30px;
    }
    &::before {
        height: 160px;
        width: 160px;
        border: 2px solid white;
        border-radius: 50%;
        content: "";
        position: absolute;
        bottom: -32px;
    }
}

.parallax-text {
    color: white;
    bottom: 40px;
    position: absolute;
    padding: 0 100px;
    text-align: center;
    font-weight: 300;
}

.slick-initialized .slick-slide {
    margin: 0 4px;
}

.tab-content {
    .col {
        padding-right: 3px;
        padding-left: 3px;
    }
}

.navigation-featured {
    .nav-tabs,
    .nav-link {
        border-bottom: 0px;
        text-transform: capitalize;
    }
    .nav-tabs {
        margin-bottom: 30px;
        justify-content: center;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: white;
        border-radius: 34px;
        background-color: #f46c24;
        border-color: #dee2e6 #dee2e6 #fff;
        border: none;
    }
    .nav-tabs .nav-link {
        border: 2px solid $primary_color;
        border-radius: 34px;
        margin-right: 12px;
        color: $primary_color;
    }
}

.view-more {
    text-align: center;
    margin: 18px 0;
    a {
        background: $primary_color;
        padding: 10px 20px;
        border-radius: 32px;
        color: white;
    }
}

.main-update {
    background: $secondary_color;
    .sec-title {
        h2,
        h6 {
            color: white;
        }
    }
}

.mu-single {
    margin-top: 18px;
    margin-bottom: 12px;
    h6 {
        padding-bottom: 12px;
        border-bottom: 1px dotted grey;
        a {
            color: rgb(194, 194, 194);
        }
    }
    &:last-child {
        margin-bottom: 18px;
    }
}

.mu-image {
    padding-right: 32px;
    img {
        border-radius: 32px;
        height: 460px;
        width: 100%;
        object-fit: cover;
    }
}

.main-update {
    .view-more {
        margin: 48px 0;
        text-align: left;
    }
}

.footer-main {
    padding: 100px 0;
    border-top: 1px dotted white;
    background: $secondary_color;
}

.footer-title {
    margin: 18px 0;
    h6 {
        color: $primary_color;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.footer-contact {
    margin: 18px 0;
    a {
        color: #888888;
        font-size: 14px;
    }
    li {
        margin-bottom: 6px;
        img {
            margin-right: 6px;
        }
    }
}

.footer-links {
    margin-bottom: 28px;
    li {
        text-transform: capitalize;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        a {
            color: #888888;
        }
        img {
            margin-right: 6px;
        }
        &::before {
            content: "\f0c1";
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            margin-right: 8px;
            color: $primary_color;
        }
    }
}

.footer-main {
    .social-icons {
        justify-content: left;
    }
}

.footer-links-logo {
    display: flex;
    align-items: center;
    li {
        margin-right: 8px;
    }
    img {
        height: 45px;
        width: 45px;
        object-fit: contain;
    }
}

.nav-contact {
    display: flex;
    align-items: flex-start;
    .left-info {
        margin-left: 8px;
        color: white;
        .info {
            font-size: 12px;
            margin: 0;
        }
        .info-label {
            font-size: 12px;
            color: rgb(194, 194, 194);
        }
    }
}

.navgation-contact-wrapper {
    padding: 20px;
}

.inner-breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
    background-attachment: fixed;
}

.bread-sec-title {
    h3 {
        color: white;
        font-weight: 800;
        font-size: 32px;
        text-transform: capitalize;
    }
}

.breadcrumb {
    justify-content: center;
    background: none;
    li {
        a {
            color: white;
        }
    }
}

.package {
    .col {
        padding-right: 3px;
        padding-left: 3px;
    }
    .navigation-menu li {
        color: #494949;
        font-weight: 600;
        &:first-child {
            border-top: 0;
        }
    }
    .dropdown-content {
        margin: 18px 0;
        padding: 0 20px;
        li {
            a {
                color: grey;
                font-weight: 400;
            }
        }
        .form-check {
            margin: 12px 0;
            label {
                font-size: 14px;
                text-transform: capitalize;
            }
        }
    }
}

.pf-title {
    h5 {
        background: $primary-color;
        color: white;
        text-transform: capitalize;
        text-align: left;
        padding: 10px 20px;
        border-radius: 32px;
    }
}

.col-half-offset {
    margin-left: 1.166667%;
}

.sortby {
    border-bottom: 1px dotted grey;
    padding-bottom: 12px;
    select {
        font-size: 13px;
        padding: 8px 40px;
    }
    .search-filter {
        justify-content: right;
    }
    img {
        margin-right: 12px;
    }
}

.fitler-result {
    margin: 18px 0;
}

.search-filter {
    margin-top: 0;
    select {
        background: whitesmoke;
    }
}

.filter-tags {
    padding: 0;
}

.sortby {
    border: 0;
}

.upper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination-filter {
    .upper-wrapper {
        padding: 0 60px;
    }
}

.recommended-package {
    background: whitesmoke;
}

.destination {
    .learn-more {
        button {
            color: $primary-color;
            outline: none;
            border: none;
            background: none;
            text-transform: capitalize;
        }
    }
}